body {
  background-color: #000;
  margin: 0;
  overflow: hidden;
  background-repeat: no-repeat;
}
@media screen and (max-width: 574px) {
  #canvas {
    align: center;
    display: block;
    margin: 0 auto;
  }
}
